/* css styles */
/* Change navbar background to NHS blue */
.navbar {
  background-color: #005EB8 !important;
}

/* Navbar links text color */
.navbar .nav-link {
  color: white !important;
}

/* Active link color */
.navbar .nav-link.active {
  color: white !important;
}

/* Logo size (optional) */
.navbar-brand img {
  height: 45px;
  width: auto;
}


.blue-box {
  background-color: #005EB8;  /* blue background */
  color: white;               /* white text */
  padding: 20px;              /* space inside the box */
  border-radius: 10px;        /* rounded corners */
  margin: 20px 0;             /* spacing around the box */
  font-size: 1.1em;           /* slightly bigger text */
}



.breakout-image {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 99.5vw;
  max-width: 99.5vw;
  display: block;
}



